.venv
**_pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.dylib
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.log
*.bak
*.swp
*.swo
*.tmp
*.DS_Store
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace
*.ipynb_checkpoints/
*.env